<div class="flex justify-around space-x-8">
  <!-- Formulario  -->
  <div class="bg-white p-4 rounded-lg shadow-md w-1/3">
    <h2 class="text-xl font-semibold mb-4 text-gray-700">Registro de Empleados</h2>
    <form [formGroup]="formGroup">
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600">Matrícula</label>
        <input type="text" formControlName="matricula" class="border p-2 w-full rounded-md">
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600">Nombre</label>
        <input type="text" formControlName="nombre" class="border p-2 w-full rounded-md">
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600">Correo</label>
        <input type="email" formControlName="correo" class="border p-2 w-full rounded-md">
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600">Edad</label>
        <input type="number" formControlName="edad" class="border p-2 w-full rounded-md">
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600">Horas Trabajadas</label>
        <input type="number" formControlName="horasTrabajadas" class="border p-2 w-full rounded-md">
      </div>
      <button (click)="registrarEmpleado()" type="button" class="bg-gray-600 text-white py-1 px-2 rounded-lg text-sm hover:bg-gray-700">Registrar</button>
    </form>
  </div>

  <!-- Tabla -->
  <div class="w-2/3">
    <button (click)="imprimirEmpleados()" class="bg-gray-600 text-white py-1 px-2 rounded-lg text-sm hover:bg-gray-700">Imprimir Tabla</button>
    <table *ngIf="mostrarTabla" class="min-w-full bg-white rounded-lg shadow-md">
      <thead class="bg-gray-100 text-gray-600 text-left">
        <tr>
          <th class="p-2">Matrícula</th>
          <th class="p-2">Nombre</th>
          <th class="p-2">Correo</th>
          <th class="p-2">Edad</th>
          <th class="p-2">Horas Trabajadas</th>
          <th class="p-2">Horas por Pagar</th>
          <th class="p-2">Pago Horas Extras</th>
          <th class="p-2">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados" class="border-t">
          <td class="p-2">{{ empleado.matricula }}</td>
          <td class="p-2">{{ empleado.nombre }}</td>
          <td class="p-2">{{ empleado.correo }}</td>
          <td class="p-2">{{ empleado.edad }}</td>
          <td class="p-2">{{ empleado.horasTrabajadas }}</td>
          <td class="p-2">{{ empleado.horasPorPagar * 70 }}</td>
          <td class="p-2">{{ empleado.horasExtras * 140  }}</td>
          <td class="p-2">{{ empleado.subtotal  }}</td>
        </tr>
      </tbody>
    </table>

    <div class="mt-4 font-bold text-lg">
      Total a Pagar: {{ total | currency:'MXN' }}
    </div>

    <div class="flex mt-4 space-x-4">
      <button (click)="modificarEmpleado()" class="bg-gray-600 text-white py-1 px-2 rounded-lg text-sm hover:bg-gray-700">Modificar</button>
      <button (click)="eliminarEmpleado()" class="bg-gray-600 text-white py-1 px-2 rounded-lg text-sm hover:bg-gray-700">Eliminar</button>
    </div>
  </div>
</div>
